body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*Navigation bar*/

.bar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
}

.navigation {
    width: 300px;
    height: 65px;
    display: flex;
    z-index: 12;
    justify-content: center;
    align-items: center;
    transform: translate(0, -100%);
    transition: 0.5s;
    background-color: rgba(78, 78, 78, 0.5);
    border-radius: 0 0 10px 10px;
}

.options {
    font-size: 30px;
    margin-right: 40px;
    color: #ffffff;
}

.navigation a:last-child {
    margin-right: 0;
}

.btn-nav {
    width: 100px;
    height: 50px;
    background-color: rgba(78, 78, 78, 0.5);
    z-index: 10;
    transform: translate(0, -130%);
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav #icon {
    font-size: 25px;
}

.hidde-menu {
    transform: translate(0, 0);
}


/*Flipbook*/

.fondo {
    margin: 0;
    height: 100vh;
    background-image: url(/pics/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.flipbook-viewport .container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}

.flipbook-viewport .flipbook {
    width: 922px;
    height: 600px;
    left: -461px;
    top: -300px;
}

.flipbook-viewport .page {
    width: 461px;
    height: 700px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flipbook .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.flipbook-viewport .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}


/*Buttons pagination*/

.next-button,
.previous-button {
    position: absolute;
    width: 50px;
    height: 100px;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.next-button:hover,
.previous-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 40px;
    -webkit-border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    -ms-border-radius: 100px 0 0 100px;
    -o-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
    visibility: visible;
}

.next-button i {
    font-size: 30px;
}

.previous-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 40px;
    -webkit-border-radius: 0 100px 100px 0;
    -moz-border-radius: 0 100px 100px 0;
    -ms-border-radius: 0 100px 100px 0;
    -o-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    visibility: hidden;
}

.previous-button i {
    font-size: 30px;
}


/*Preloader*/

.loader-page {
    position: fixed;
    z-index: 25000;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.loader-page::before {
    content: "";
    position: absolute;
    border: 5px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
}

@keyframes rotarload {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176, .5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
}


/*Page 2*/

.flipbook .p2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    margin: auto;
}

.imgVideo {
    width: 130px;
    height: 50px;
    margin-bottom: 100%;
}

.p2 .close-modal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal a {
    padding: 0px 10px;
    float: right;
}


/*Page 3*/

.flipbook .p3 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.btn-modal {
    margin: 0;
    padding: 0;
    width: 42%;
    text-align: center;
}

.btn-modal img {
    width: 70%;
    height: auto;
    margin-top: 120% !important;
}

.blocker {
    z-index: 5!important;
}

.column-2 {
    position: relative;
    width: 38%;
    margin: 0;
    padding: 0;
}

.column-2 .content-2 {
    display: flex;
    flex-direction: column;
    margin-top: 34%;
}

.column-2 em {
    width: 100%;
    margin-bottom: 10px;
}

.column-2 .audio {
    width: 100%;
}


/*thumbnails*/

.thumbnails-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 10px;
}

.thumbnails-head .tittle {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    width: 80%;
}

.close-modal a {
    color: #000;
}

.thumbnails-head .close-modal {
    display: flex;
    justify-content: center;
    width: 20%;
}

.close-modal i {
    font-size: 29px;
}

.gallery {
    max-width: 1000px;
    max-height: 370px;
    overflow-x: auto;
    overflow-y: auto;
}

.table-thum {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

.fila-thum td {
    padding-bottom: 10px;
}

.fila-thum .page-1 {
    float: right;
    padding-right: 5px;
}

.pag {
    display: inline-block;
    padding: 5px;
    width: 100%;
    -webkit-box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
}

.leftThumb {
    right: 5px;
}

.afd {
    float: right;
    position: relative;
}

.pag-number {
    position: absolute;
    padding: 3px;
    padding-left: 8px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.number-right {
    bottom: 0;
    right: 0;
}

.number-left {
    bottom: 0;
    left: 0;
}

.fila-thum .page-2-3 {
    float: left;
}

.ain {
    position: relative;
    float: left;
}

.rightThumb {
    left: 5px;
}

.modal a.close-modal {
    display: none !important;
}

.imgThumb {
    width: 120px;
    height: 150px;
}

.imgThumb:hover {
    cursor: pointer;
}

.modal {
    padding: 10px 10px !important;
}


/*Search*/

.search-head {
    display: flex;
    align-items: center;
}

.input-search {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 20px;
}

.input-search .input {
    margin-right: 10px;
}

.input a {
    padding: 0;
    color: #000;
}

.input a .lupa {
    font-size: 25px;
}

.input-search input {
    width: 200px;
    height: 30px;
    padding: 0 10px;
}

.search-head .tittle {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.search-head .close-modal {
    display: flex;
    justify-content: center;
    width: 20%;
}