body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/*Navigation bar*/

.bar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
}

.navigation {
    width: 300px;
    height: 65px;
    display: flex;
    z-index: 12;
    justify-content: center;
    align-items: center;
    transform: translate(0, -100%);
    transition: 0.5s;
    background-color: rgba(78, 78, 78, 0.8);
    border-radius: 0 0 10px 10px;
}

.options {
    font-size: 30px;
    margin-right: 40px;
    color: #ffffff;
}

.navigation a:last-child {
    margin-right: 0;
}

.btn-nav {
    width: 100px;
    height: 50px;
    background-color: rgba(78, 78, 78, 0.8);
    z-index: 10;
    transform: translate(0, -130%);
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav #icon {
    font-size: 25px;
}

.hidde-menu {
    transform: translate(0, 0);
}


/*Flipbook*/

.fondo {
    margin: 0;
    height: 100vh;
    background-image: url('../pics/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.flipbook-viewport {
    position: relative;
    top: -80px;
}

.flipbook-viewport .container {
    position: absolute;
    top: 0px;
    left: 50%;
    margin: auto;
}

.flipbook-viewport .flipbook {
    left: -565px;
    top: 0!important;
}

.flipbook-viewport .page {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flipbook .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.flipbook-viewport .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    transition: -ms-box-shadow 0.5s;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}


/*Buttons pagination*/

.next-button,
.previous-button {
    position: absolute;
    width: 50px;
    height: 100px;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.next-button:hover,
.previous-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 40px;
    -webkit-border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    -ms-border-radius: 100px 0 0 100px;
    -o-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
    visibility: visible;
}

.next-button i {
    font-size: 30px;
}

.previous-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: 40px;
    -webkit-border-radius: 0 100px 100px 0;
    -moz-border-radius: 0 100px 100px 0;
    -ms-border-radius: 0 100px 100px 0;
    -o-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    visibility: hidden;
}

.previous-button i {
    font-size: 30px;
}


/*Page 2*/

.flipbook .p2 {
    position: relative;
    width: 100%;
}

.btn-video {
    text-align: center;
    margin-top: 60%;
}

.imgVideo {
    width: 25%;
}

.p2 .close-modal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal a {
    padding: 0px 10px;
    float: right;
}


/*Page 3*/

.flipbook .p3 {
    position: relative;
    width: 100%;
}

.audioContent {
    width: 50%;
    position: absolute;
    right: 8%;
    top: 10%;
}

.audioContent em {
    width: 100%;
    font-size: 1.1vw;
    margin-bottom: 10px;
}

.audioContent audio {
    width: 80% !important;
    display: block;
}

.btn-modal {
    margin: 0;
    padding: 0;
    width: 42%;
    text-align: center;
}

.btn-modal img {
    width: 70%;
    height: auto;
    margin-top: 120% !important;
}

.blocker {
    z-index: 5!important;
}

.modal h2 {
    padding: 0 20px;
}

.modal-p {
    overflow-y: auto;
    height: 450px;
    padding: 0 20px;
}


/*thumbnails*/

.thumbnails-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 10px;
}

.thumbnails-head .tittle {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    width: 80%;
}

.close-modal a {
    color: #000;
}

.thumbnails-head .close-modal {
    display: flex;
    justify-content: center;
    width: 20%;
}

.close-modal i {
    font-size: 29px;
}

.gallery {
    max-width: 1000px;
    max-height: 370px;
    overflow-x: auto;
    overflow-y: auto;
}

.table-thum {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

.fila-thum td {
    padding-bottom: 10px;
}

.fila-thum .page-1 {
    float: right;
    padding-right: 5px;
}

.pag {
    display: inline-block;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
}

.leftThumb {
    right: 5px;
}

.afd {
    float: right;
    position: relative;
}

.pag-number {
    position: absolute;
    padding: 3px;
    padding-left: 8px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.number-right {
    bottom: 0;
    right: 0;
}

.number-left {
    bottom: 0;
    left: 0;
}

.fila-thum .page-2-3 {
    float: left;
}

.ain {
    position: relative;
    float: left;
}

.rightThumb {
    left: 5px;
}

.modal a.close-modal {
    display: none !important;
}

.imgThumb {
    width: 120px;
    height: 150px;
}

.imgThumb:hover {
    cursor: pointer;
}

.modal {
    padding: 10px 10px !important;
}


/*Search*/

.search-head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-search {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 20px;
}

.input-search .input {
    margin-right: 10px;
}

.input a {
    padding: 0;
    color: #000;
}

.input a .lupa {
    font-size: 25px;
}

.input-search input {
    width: 200px;
    height: 30px;
    padding: 0 10px;
}

.search-head .tittle {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.search-head .close-modal {
    display: flex;
    justify-content: center;
    width: 20%;
}

.contentSearch {
    height: 450px !important;
    background: #ffffff;
}

.contentSearchMovile {
    height: 1000px !important;
}

.p-tdSearch {
    padding: 10px 20px;
    border-bottom: 1px solid #d6d6d6;
    cursor: pointer;
}

.b-trSearch:hover {
    background-color: #f3f3f3;
}

.modalSearch {
    top: 15%;
    position: absolute !important;
    left: 50%;
    margin-left: -250px;
}


/*Loader*/

.containerLoader {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader::before,
.loader::after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    top: 0;
}

.loader::before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader::after {
    left: 3.5em;
}

@keyframes loader {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}


/*Imgs*/

.div-img {
    display: flex;
    justify-content: center;
}

.img-gallery {
    width: 70%;
    cursor: pointer;
}

.img-light {
    position: fixed;
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
    z-index: 100;
}

.show {
    transform: translate(0);
}

.add-imgs {
    width: 60%;
    transition: transform .3s .2s;
    transform: scale(0);
}

.showImage {
    transform: scale(1);
}

.close-imgs {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}